@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: black;
}
input::placeholder {
  color: #000;
}
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #000;
}

input[type="radio"]:checked {
  background-color: blue;
}

* {
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  display: none;
}
body {
  font-family: Graphik;
  color: white;
  background: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
@font-face {
  font-family: Graphik;
  src: url("../public/GraphikRegular.woff2");
}
@font-face {
  font-family: Graphikthinner;
  src: url("../public/GraphikThin.woff");
}
@font-face {
  font-family: Graphikthin;
  src: url("../public/Graphik-Light-Trial.otf");
}
@font-face {
  font-family: Graphikmedium;
  src: url("../public/Graphik-Extralight-Trial.otf");
}
@font-face {
  font-family: Clash;
  src: url("../public/ClashDisplayBold.otf");
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.mixblend {
  mix-blend-mode: color-dodge;
}

.hero-bg::after {
  content: "";
  /* background-image: url("../public/svgs/Frame\ 1000002955.svg"); */
  background: linear-gradient(156.63deg, #201da7 8.68%, #30e29d 84.91%);
  width: 62%;
  position: absolute;
  top: 10px;
  backdrop-filter: blur(56px);
  right: 0px;
  height: 100%;
  background-repeat: no-repeat;
  /* mix-blend-mode: color-dodge; */
  z-index: -1;
}
.drope-down::after {
  content: "";
  background-image: url("../public/svgs/Frame\ 1000002955.svg");
  width: 60%;
  position: absolute;
  top: 10px;
  right: 0px;
  /* bottom: 0; */
  height: 400px;
  background-repeat: no-repeat;
  /* mix-blend-mode: color-dodge; */
  z-index: -1;
}
input {
  outline: none;
  font-size: 17.51px;
  line-height: 21.54px;
  color: #ffffff99;
}
input::placeholder {
  font-size: 17.51px;
  line-height: 21.54px;
  color: #ffffff99;
}
.card:hover .button {
  background-color: #30e29d;
  color: #1f1f1f;
}
.button:hover {
  box-shadow: 1px 1px 120px #30e29d;
}
