@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: black;
}
input::placeholder {
  color: #000;
}
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #000;
}

input[type="radio"]:checked {
  background-color: blue;
}

.hero-python::after {
  content: "";
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-image: url("../public/logos/Rectangle\ 9.svg");
  background-repeat: no-repeat;
}

/* Added smooth horizontal scrolling animation for technology logos */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

.card-gradient-border {
  border-bottom: 1px solid transparent;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    115.38deg,
    rgba(48, 226, 157, 0.6) 62.6%,
    rgba(33, 43, 166, 0.6) 100%
  );
}

* {
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  display: none;
}
body {
  font-family: Graphik;
  color: white;
  background: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
@font-face {
  font-family: Graphik;
  src: url("../public/GraphikRegular.woff2");
}
@font-face {
  font-family: Graphikicon;
  src: url("../public/GraphikRegular.woff2");
  font-weight: 100;
}
@font-face {
  font-family: Graphikthinner;
  src: url("../public/GraphikThin.woff");
}
@font-face {
  font-family: Graphikthin;
  src: url("../public/Graphik-Light-Trial.otf");
}
@font-face {
  font-family: Graphikmedium;
  src: url("../public/Graphik-Extralight-Trial.otf");
}
@font-face {
  font-family: Clash;
  src: url("../public/ClashDisplayBold.otf");
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.mixblend {
  mix-blend-mode: color-dodge;
}

.hero-bg::after {
  content: "";
  /* background-image: url("../public/svgs/Frame\ 1000002955.svg"); */
  background: linear-gradient(156.63deg, #201da7 8.68%, #30e29d 84.91%);
  width: 62%;
  position: absolute;
  top: 10px;
  backdrop-filter: blur(56px);
  right: 0px;
  height: 100%;
  background-repeat: no-repeat;
  /* mix-blend-mode: color-dodge; */
  z-index: -1;
}
.drope-down::after {
  content: "";
  background-image: url("../public/svgs/Frame\ 1000002955.svg");
  width: 60%;
  position: absolute;
  top: 10px;
  right: 0px;
  /* bottom: 0; */
  height: 400px;
  background-repeat: no-repeat;
  /* mix-blend-mode: color-dodge; */
  z-index: -1;
}
input {
  outline: none;
  font-size: 17.51px;
  line-height: 21.54px;
  color: #ffffff99;
}
input::placeholder {
  font-size: 17.51px;
  line-height: 21.54px;
  color: #ffffff99;
}
.card:hover .button {
  background-color: #30e29d;
  color: #1f1f1f;
}
.button:hover {
  box-shadow: 1px 1px 120px #30e29d;
}

.price-bg::before {
  content: "";
  background-image: url("../public/logos/Vector 2383.svg");
  /* background: linear-gradient(156.63deg, #201da7 8.68%, #30e29d 84.91%); */
  /* background: linear-gradient(
    180deg,
    rgba(48, 226, 157, 0.7) 0%,
    rgba(43, 71, 195, 0.7) 100%
  ); */

  width: 100%;
  position: absolute;
  top: 10px;
  backdrop-filter: blur(56px);
  right: 0px;
  height: 100%;
  background-repeat: no-repeat;
  /* mix-blend-mode: color-dodge; */
  z-index: 0;
}
